body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img{
    width: 200px;
}

.container {
    display: flex;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.left-content, .right-content {
    padding: 20px;
}

.left-content {
    width: 40%;
    background-color: #cccd;
}

.right-content {
    width: 60%;
    background-color: #fff;
}

h4 {
    text-decoration: underline;
}